
.cajaCalcu{
  width: 360px;
  height: 500px;
  margin-left: 150px;
  margin-top: 20px;
  border-radius: 8px;
}

.cajaResul{
  background-color: #F5F5F5;
  border: 1px solid grey;
}

.historial{
  margin-top: 50px;
  width: 85%;
  text-align: right;
  font-size: 2rem;
  border: none;
  background-color: #F5F5F5;
  color: #27A99C;
}

.resul{
  border: none;
  background-color: #F5F5F5;
  margin-top: 10px;
  text-align: right;
  width: 95%;
  font-size: 2rem;
}

.cajaItem{
  height: 70%;
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
}

.item{
  border: 1px solid grey;
  background-color: #E3E3E3;
  text-align: center;
  line-height: 60px;
  font-size: 2rem;
}